<!-- CHEQUES DISPONIBLES -->
<div class="card mt-3" style="border: purple solid 2px !important">
    <div class="card-header purple darken-2 white-text">
        <strong>
            Cheques disponibles
        </strong>
    </div>
    <div class="card-body">
        <app-cheques-listar-disponibles></app-cheques-listar-disponibles>
    </div>
</div>
<!-- CHEQUES EMITIDOS -->
<div class="card mt-3" style="border: teal solid 2px !important">
    <div class="card-header teal darken-2 white-text">
        <strong>
            Cheques emitidos
        </strong>
    </div>
    <div class="card-body">
        <app-cheques-listar-emitidos></app-cheques-listar-emitidos>
    </div>
</div>
