<table
  datatable
  [dtOptions]="dtOptions"
  [dtTrigger]="dtTrigger"
  class="row-border hover compact table table-sm table-bordered"
>
  <thead>
    <tr>
      <th>Banco</th>
      <th>Cuenta</th>
      <th>Serie</th>
      <th>Número</th>
      <th>Emisión</th>
      <th>Titular</th>
      <th>Monto</th>
    </tr>
  </thead>
  <tbody *ngIf="cheques?.length != 0">
    <tr *ngFor="let cheque of cheques">
      <td class="align-middle">{{ cheque.banco }}</td>
      <td class="align-middle text-right">{{ cheque.cuenta }}</td>
      <td class="align-middle text-right">{{ cheque.serie }}</td>
      <td class="align-middle text-right">{{ cheque.numero }}</td>
      <td class="align-middle text-right">{{ cheque.emision | date: 'dd/MM/yyyy' }}</td>
      <td class="align-middle">{{ cheque.titular }}</td>
      <td class="align-middle text-right">{{ cheque.monto | currency: "UYU": "$ ": "3.2-2" }}</td>
    </tr>
  </tbody>
  <tbody *ngIf="cheques?.length == 0">
    <tr>
      <td colspan="3" class="no-data-available">¡No se encontraron datos para cargar!...</td>
    </tr>
  </tbody>
</table>
